body {
  font-family: "Montserrat", sans-serif;
}

/* menu */
nav.menu-sticky {
  background-color: transparent;
  transition: background-color 0.6s ease;
}

nav.menu-sticky.active {
  background-color: #033331;
}

/* Contact Button */
nav.menu-stick nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited {
  color: var(--white-000);
  background: transparent;
  border-color: #ffffff;
}

nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active {
  color: #033331;
  background-color: #ffffff;
  border-color: #ffffff;
}

/* Hello Message*/
h2.text-shadow {
  font-size: auto;
  font-weight: 700;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
}

/* View my work */
header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited {
  background: linear-gradient(to right, #033331, #9a05df);
  color: #ffffff;
  border-color: white;
}

.btn i {
  transition: transform 0.5s ease;
}

.btn:hover i {
  transform: rotate(90deg);
}

/* Who am I? */
.section-selector-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100hv;
  background-color: #ececec;
  position: relative;
}

/* Styling for the left column */
.col-text {
  flex: 1;
  background-color: #03333152;
  margin-top: 50px;
  margin-bottom: 200px;
}

/* Styling for the right column */
.col-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.profile-picture {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: transparent solid 1px;
  padding-left: 30px;
}

.profile-picture::before {
  content: '';
  position: absolute;
  top: -30%;
  right: -40%;
  width: 140%;
  height: 120%;
  background-color: #03333152;
  transform: rotate(45deg);
  z-index: -1;
}

/* Styling for the shape divider */
.custom-shape-divider-bottom-1682071946 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  height: 100px;
}

.custom-shape-divider-bottom-1682071946 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1682071946 .shape-fill {
  fill: #ffffff;
}

/* Section 2: Portfolio*/
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10beb952;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

.grid-item:hover .overlay {
  opacity: 1;
  background-color: #0d5351;
}

.grid-item .overlay h3 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.grid-item .overlay a {
  background-color: #fff;
  color: #033331;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.6s ease-in-out;
}
.grid-item .overlay p {
  text-align: center;
  padding: 10px;
  color: white;
}
.grid-item .overlay a:hover {
  background-color: #033331;
  color: #fff;
  margin-top: 10px;
}

@media (max-width: 768px) {
  /* Styling for mobile devices */
  .section-selector-1 { flex-direction: column-reverse; align-items: center;  }
  .col-text {margin: 50px 0;  }
  .col-image {margin-bottom: 50px;}
  .profile-picture { padding-left: 0;}
  .profile-picture::before {display: none;}
  /* Substitute for hover action */
  .grid-item:hover .overlay {opacity: 1;}
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
  }}


/* Footer */
footer.theme-dark { background-color: #033331 }
footer.theme-dark .col-3 h2 { color: var(--white-000) }
footer.theme-dark .col-3 p { color: var(--slate-100) }
footer.theme-dark .col-3 ul li address { color: var(--white-000) }
footer.theme-dark .col-3 h3 { color: var(--white-000); font-weight: bold;}
footer.theme-dark .copyright p { color: var(--white-000); text-align: center; font-size: medium; }
footer.theme-dark .copyright { background-color: var(--teal-900)}
footer.theme-dark ul.footer-links li a:link,
footer.theme-dark ul.footer-links li a:visited { text-decoration-color: transparent }

footer.theme-dark ul.footer-links li a:focus,
footer.theme-dark ul.footer-links li a:hover,
footer.theme-dark ul.footer-links li a:active { text-decoration-color: transparent }

footer.theme-dark ul.footer-links li a:link,
footer.theme-dark ul.footer-links li a:visited { color: var(--white-000) }

footer.theme-dark ul.footer-links li a:focus,
footer.theme-dark ul.footer-links li a:hover,
footer.theme-dark ul.footer-links li a:active { color: var(--teal-300) }

footer.theme-dark ul.footer-icons li a:link i,
footer.theme-dark ul.footer-icons li a:visited i { color: var(--white-000) }
footer.theme-dark ul.footer-links li .fa-li i { color: var(--white-000) }

footer.theme-dark ul.footer-icons li a:focus i,
footer.theme-dark ul.footer-icons li a:hover i,
footer.theme-dark ul.footer-icons li a:active i { color: var(--teal-700) }

/* Store */

